*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
}
.container{
    width: 1237px;
    margin-left: auto;
    margin-right: auto;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    align-items: center;
}
.header-list{
    display: flex;
    margin-right: 586px;

}
.header-list-item{
    margin: 30px;
    list-style: none;
}
.header-active-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #25202F;
}
.nav-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #25202F;
    opacity: 50%;
}
.nav-list:hover{
    color: #25202F;
    opacity: 100%;
}
.header-btn{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.header-btn:hover{
    background-color: hsl(0, 0%, 96%);
}
.hero-section{
    display: flex;
    justify-content: end;
}
#hero-sec-h1{
    margin-top: 125px;
}
.hero-sec-name{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}
.hero-sec-intro{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
}
.hero-sec-h2{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-top: 20px;
}
.hero-sec-link{
    margin-top: 50px;
    display: inline-block;
    background: #8643DC;
    border-radius: 100px;
    padding: 14px 48px 14px 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.hero-sec-link:hover{
     background-color: #6b2fb9;
}
.hero-sec-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img{
    margin-right: 100px;
}
.features-sec-div{
    margin-top: 100px;
}
.features-sec-intro{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.features-sec-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 802px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.features-sec-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.features-sec-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.features-sec-items{
    margin: 10px;
}
.features-sec-h4{
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-left: 20px;
}
.features-sec-p{
    margin-top: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
    }
.features-sec-logo{
display: flex;
align-items: center;
}
.cta-sec-div{
    margin-top: 150px;
}
.cta-sec-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.cta-sec-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 1352px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.cta-sec-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.cta-section-division{
    display: flex;
    justify-content: space-between;
    
}

.cta-sec-link{
    margin-left: 13px;
}
.cta-sec-a{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #25202F;
}
 
.cta-sec-for-img{
    margin-top: 30px;
    margin-left: 90px;
}
.stats-sec-title{
    margin-top: 168px;
}
.stats-sec-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.stats-sec-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 2124px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.stats-sec-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.stats-sec-list{
    margin-top: 44px;
    display: flex;
    list-style: none;
    box-sizing: border-box;
}
.tea-sec-div{
    margin-top: 150px;
}
.team-sec-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    color: #8643DC;
}
.team-sec-hr{
    width: 50px;
    height: 2px;
    left: 173px;
    top: 2635px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.team-sec-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.team-sec-person{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.team-sec-mark{
    margin-left: 250px;
    
}
.team-sec-quote{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #636066;
    margin-top: 25px;
}
.team-sec-ceo{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.team-sec-michal{
    margin-top: 25px;
    margin-left: 575px;
}
.team-sec-main{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 20px;
}
.team-sec-ceo-mzp{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-top: 5px;
    margin-left: 10px;
}
.team-sec-pager{
    margin-top: 90px;
}
.news-sec-div{
    margin-top: 100px;
    display: inline-block;
}
.new-sec-span{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.news-sec-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 3407px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.news-sec-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
    
}
.news-sec-images{
    margin-left: 25px;
    margin-top: 100px;
}
#news-section{
    display: flex;
}
.time{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8643DC;
}
.news-sec-p{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
}
.news-sec-back-img{
    background-image: url('../images/newsfeed.png');
    width: 255px;
    height: 350px;
    
}
.text-in-img{
    margin-top: 225px;
    margin-left: 20px;
}
.news-sec-back-p{
    margin-top: 2px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.news-sec-back-time{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.news-sec-back-img{
    margin-left: 30px;
    margin-top: 100px;
}
.news-sec-second-back-img{
    background-image: url('../images/ux-img.png');
    width: 255px;
    height: 350px;
    margin-top: 100px;
    margin-left: 30px;
}
.second-back-img{
    margin-top: 240px;
    margin-left: 20px;
}
.time-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.second-back-img-p{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 10px;
}
#contact-section{
    background-color: rgba(225, 207, 247, 0.17);
    margin-top: 100px;
}
.contact-sec-div{
    display: flex;
    justify-content: space-between;
}
.contact-intro{
    margin-top: 150px;
}
.contact-span{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.contact-sec-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 3907px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.contact-sec-h3{
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #21232D;
    margin-top: 20px;
}
.contact-email{
    margin-top: 204px;
}
.email{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #8643DC;
}

.input-style{
    border: none;
    margin: 10px;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #A8A0B0;
    padding: 20px;
    background-color: rgba(252, 246, 246, 0.17);
}

.footer{
    background-color: rgba(225, 207, 247, 0.17);
}
.footer-div{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer-link{
    margin: 15px;
}
.footer-h4{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #21232D;
    padding-bottom: 30px;
}