*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
}

.container{
    width: 1237px;
    margin-left: auto;
    margin-right: auto;
}
.header-navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    align-items: center;
}
.header-list{
    display: flex;
    margin-right: 586px;

}
.header-list-item{
    margin: 30px;
    list-style: none;
}
.header-active-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #25202F;
}
.nav-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #25202F;
    opacity: 50%;
}
.nav-list:hover{
    color: #25202F;
    opacity: 100%;
}
.header-btn{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.header-btn:hover{
    background-color: hsl(0, 0%, 96%);
}
.hero-content{
    display: flex;
    justify-content: end;
}
#hero-content-div{
    margin-top: 125px;
}
.hero-content-name{
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}
.hero-content-intro{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #666666;
}
.hero-content-text{
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-top: 20px;
}
.hero-content-link{
    margin-top: 50px;
    display: inline-block;
    background: #8643DC;
    border-radius: 100px;
    padding: 14px 48px 14px 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}
.hero-sec-link:hover{
     background-color: #6b2fb9;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img{
    margin-right: 100px;
}
.desc{
    margin-top: 100px;
}
.desc-intro{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.desc-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 802px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.desc-excerpt{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.excerpt-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.excerpt-items{
    margin: 10px;
}
.excerpt-title{
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-left: 20px;
}
.excerpt-p{
    margin-top: 21px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
    }
.excerpt-logo{
display: flex;
align-items: center;
}
.popup-div{
    margin-top: 150px;
}
.popup-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.popup-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 1352px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.popup-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.popup-section{
    display: flex;
    justify-content: space-between;
    
}

.popup-icon{
    margin-left: 13px;
}
.popup-link{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #25202F;
}
 
.popup-img{
    margin-top: 30px;
    margin-left: 90px;
}
.thumb-title{
    margin-top: 168px;
}
.thumb-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.thumb-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 2124px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.thumb-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.thumb-list{
    margin-top: 44px;
    display: flex;
    list-style: none;
    box-sizing: border-box;
}
.avatar-div{
    margin-top: 150px;
}
.avatar-p{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;    
    color: #8643DC;
}
.avatar-hr{
    width: 50px;
    height: 2px;
    left: 173px;
    top: 2635px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.avatar-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
}
.avatar-person{
    margin-top: 59px;
    display: flex;
    justify-content: space-between;
}
.avatar-mark{
    margin-left: 250px;
    
}
.avatar-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #636066;
    margin-top: 25px;
}
.avatar-userpic{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.avatar-pic{
    margin-top: 25px;
    margin-left: 575px;
}
.avatar-subject{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 20px;
}
.avatar-picture{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-top: 5px;
    margin-left: 10px;
}
.avatar-pager{
    margin-top: 90px;
}
.subtitle-blog{
    margin-top: 100px;
    display: inline-block;
}
.subtitle-span{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
}
.subtitle-hr{
    width: 50px;
    height: 2px;
    left: 165px;
    top: 3407px;
    background: #8643DC;
    border: none;
    margin-top: 10px;
}
.subtitle-h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    margin-top: 15px;
    
}
.subtitle-images{
    margin-left: 25px;
    margin-top: 100px;
}
#blog{
    display: flex;
}
.time{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8643DC;
}
.subtitle-p{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-top: 10px;
}
.subtitle-back-img{
    background-image: url('../images/newsfeed.png');
    width: 255px;
    height: 350px;
    
}
.subtitle-text-img{
    margin-top: 225px;
    margin-left: 20px;
}
.subtitle-back-p{
    margin-top: 2px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.subtitle-time{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.subtitle-back-img{
    margin-left: 30px;
    margin-top: 100px;
}
.subtitle-back-image{
    background-image: url('../images/ux-img.png');
    width: 255px;
    height: 350px;
    margin-top: 100px;
    margin-left: 30px;
}
.second-back-img{
    margin-top: 240px;
    margin-left: 20px;
}

.time-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
.subtitle-back-img-p{
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 10px;
}

.footer{
    background-color: rgba(225, 207, 247, 0.17);
}
.footer-div{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer-link{
    margin: 15px;
}
.footer-h4{
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #21232D;
    padding-bottom: 30px;
}